body{
    /* background-color: bisque; */
    /* color: brown; */
    background-image: url("Images/WallPaper1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
}

p{
    padding: 20px;
}
h1,h2{
    text-align:center;
}

div{
    width:45%;
    display:inline-block;
    border: 2px solid rgb(40, 40, 87);
    vertical-align: top;
    padding: 20px;
    margin: 10px;
    text-align: center;
    /* display:"none"; */
}

nav{
  background-color: whitesmoke;
  /* height:40px; */
  vertical-align: middle;
  padding: 20px;
  
}
a{
    color: darkblue;
    padding:10px;
    text-decoration: none;
    /* margin-top: 30px; */
}

a:hover 
{
    color:rgb(108, 138, 164);
}

i{
    font-size: 0.8pm;
}

footer>p{
    font-style: italic;
    font-size: 0.8pm;
    bottom:0;
    text-align: center;
    position: fixed;
    width:100%;
}
ul.menu{
    display:inline-block;
   list-style-type: none;
}
tr{
    height: 45px;
}
.input
{
    height: 20pt;
    width:80px;
}
#search{
    margin-left:200px;
}
span{
    display:block;
}
li{
    text-align: justify;
}
.link{
    color: darkblue;
    padding:10px;
    text-decoration: none;
    /* margin-top: 30px; */
    }
.about{
    margin-right:-20px;
}
